<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuhuayuan.core.persistence.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.yuhuayuan.core.dto.goods.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodsid" property="goodsid" jdbcType="VARCHAR" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsorignprice" property="goodsorignprice" jdbcType="DECIMAL" />
    <result column="goodsellprice" property="goodsellprice" jdbcType="DECIMAL" />
    <result column="goodsdescribe" property="goodsdescribe" jdbcType="VARCHAR" />
    <result column="goodsimageurl" property="goodsimageurl" jdbcType="VARCHAR" />
    <result column="goodsstatus" property="goodsstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsid, goodsname, goodsorignprice, goodsellprice, goodsdescribe, goodsimageurl, 
    goodsstatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <select id="getAllGoods" resultMap="BaseResultMap">
  select * from goods
  </select>
  
  <insert id="insert" parameterType="com.yuhuayuan.core.dto.goods.Goods" >
    insert into goods (id, goodsid, goodsname, 
      goodsorignprice, goodsellprice, goodsdescribe, 
      goodsimageurl, goodsstatus)
    values (#{id,jdbcType=INTEGER}, #{goodsid,jdbcType=VARCHAR}, #{goodsname,jdbcType=VARCHAR}, 
      #{goodsorignprice,jdbcType=DECIMAL}, #{goodsellprice,jdbcType=DECIMAL}, #{goodsdescribe,jdbcType=VARCHAR}, 
      #{goodsimageurl,jdbcType=VARCHAR}, #{goodsstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yuhuayuan.core.dto.goods.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsid != null" >
        goodsid,
      </if>
      <if test="goodsname != null" >
        goodsname,
      </if>
      <if test="goodsorignprice != null" >
        goodsorignprice,
      </if>
      <if test="goodsellprice != null" >
        goodsellprice,
      </if>
      <if test="goodsdescribe != null" >
        goodsdescribe,
      </if>
      <if test="goodsimageurl != null" >
        goodsimageurl,
      </if>
      <if test="goodsstatus != null" >
        goodsstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsorignprice != null" >
        #{goodsorignprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsellprice != null" >
        #{goodsellprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsdescribe != null" >
        #{goodsdescribe,jdbcType=VARCHAR},
      </if>
      <if test="goodsimageurl != null" >
        #{goodsimageurl,jdbcType=VARCHAR},
      </if>
      <if test="goodsstatus != null" >
        #{goodsstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuhuayuan.core.dto.goods.Goods" >
    update goods
    <set >
      <if test="goodsid != null" >
        goodsid = #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsorignprice != null" >
        goodsorignprice = #{goodsorignprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsellprice != null" >
        goodsellprice = #{goodsellprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsdescribe != null" >
        goodsdescribe = #{goodsdescribe,jdbcType=VARCHAR},
      </if>
      <if test="goodsimageurl != null" >
        goodsimageurl = #{goodsimageurl,jdbcType=VARCHAR},
      </if>
      <if test="goodsstatus != null" >
        goodsstatus = #{goodsstatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuhuayuan.core.dto.goods.Goods" >
    update goods
    set goodsid = #{goodsid,jdbcType=VARCHAR},
      goodsname = #{goodsname,jdbcType=VARCHAR},
      goodsorignprice = #{goodsorignprice,jdbcType=DECIMAL},
      goodsellprice = #{goodsellprice,jdbcType=DECIMAL},
      goodsdescribe = #{goodsdescribe,jdbcType=VARCHAR},
      goodsimageurl = #{goodsimageurl,jdbcType=VARCHAR},
      goodsstatus = #{goodsstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>